name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    env:
      # Сетевые флапы/IPv6 — уменьшаем шанс ошибок сети
      NODE_OPTIONS: --dns-result-order=ipv4first
      GRADLE_OPTS: -Djava.net.preferIPv4Stack=true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build & Test & Coverage
        run: ./gradlew clean test jacocoTestReport --stacktrace

      - name: SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar -Dsonar.login=${{ env.SONAR_TOKEN }} --stacktrace